@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1.5;
	// background: #151720;
	font-family: 'Lato', sans-serif;
}

.d-16-9 {
	position: relative;
	display: block;
	padding-top: 56.25%;
	height: 0;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #fff;
		background: #121212;
	}

	a {
		color: #da0037;
	}
}
